
  <%= form_for user do |f| %>

    <ul>
    <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>

    <div class="form-label">
      <%=f.label(:name, "Name")%>
    </div>
    <div class="form-field">
      <%=f.text_field :name%>
    </div>
    <br>
    <div class="form-label">
      <%=f.label(:email, "Email")%>
    </div>
    <div class="form-field">
      <%=f.text_field :email%>
    </div>
    <br>
    <br>
    <div class="form-label">
      <%=f.label(:password, "Password")%>
    </div>
    <div class="form-field">
      <%= f.password_field :password %>
    </div> 
    <br>

    <div class="submit-button">
      <%= f.submit "Submit" %>
    </div>
<%end%>

