<form>
  <%= form_for user do |f| %>


    <div class="form-label">
      <%=f.label(:name, "Name")%>
    </div>
    <div class="form-field">
      <%=f.text_field :name%>
    </div>
    <br>
    <div class="form-label">
      <%=f.label(:email, "Email")%>
    </div>
    <div class="form-field">
      <%=f.text_field :email%>
    </div>
    <br>
    <br>
    <div class="form-label">
      <%=f.label(:password, "Password")%>
    </div>
    <div class="form-field">
      <%= f.password_field :password %>
    </div> 
    <br>
    <div class="form-label">
      <%=f.label(:password_confirmation, "Confirm Password")%>
    </div>
    <div class="form-field">
      <%= f.password_field :password_confirmation %>
    </div> 
    <br>
    <div class="submit-button">
      <%= f.submit "Submit" %>
    </div>

      <% if user.errors.any? %>
      <% user.errors.full_messages.each do |msg| %>
       <%= content_tag(:p, "#{msg}", id: "error-msg") %>
      <% end %>
  <% end %>
  <% end %>
</form>