
  <%= form_for user do |f| %>

    <div class="form-label">
      <%=f.label(:name, "Name")%>
    </div>
    <div class="form-field">
      <%=f.text_field :name%>
    </div>
    <br>
    <div class="form-label">
      <%=f.label(:email, "Email")%>
    </div>
    <div class="form-field">
      <%=f.text_field :email%>
    </div>
    <br>
    <br>
    <div class="form-label">
      <%=f.label(:password, "Password")%>
    </div>
    <div class="form-field">
      <%= f.password_field :password %>
    </div> 
    <br>

    <div class=" text-center font-bold text-lg text-blue-800 hover:text-blue-900">
      <%= f.submit "Submit", class:"bg-blue-300 hover:bg-white" %>
    </div>
<%end%>

