<h1> Search events at your next destination! Where would you like to go?  </h1>

    <%=form_tag events_path, method: :get do %>
        <%=text_field_tag :query, params[:query]%>
        <%=submit_tag "search", name: nil%>
    <%end%>
    <% if flash[:message] %>
        <div class="notice">
            <%= flash[:message] %>
        </div>
  <% end %>





<%if @user.events.any?%>
<h1 class="font-bold"><%=@user.name%>'s Events</h1>
<br>
    <ul>
        <%@user.events.each do |event|%>
            <li><%=link_to event.name, event_path(event)%></li>
            <br>
        <%end%>
    </ul>
<%end%>
<%=link_to "Create new event", '/events/new'%>
<br>
<br>
<h2 class="font-bold"><%=@user.name%>'s Planners</h2>

<%=link_to "Create new planner", '/planner/new'%>

