<h1> Search events at your next destination! Where would you like to go?  </h1>

    <%=form_tag events_path, method: :get do %>
        <%=text_field_tag :query, params[:query]%>
        <%=submit_tag "search", name: nil%>
    <%end%>
    <% if flash[:message] %>
        <div class="notice">
            <%= flash[:message] %>
        </div>
  <% end %>




<div class="">
    <br>
    <%=link_to "View Your Events", user_events_path(current_user)%></li>
    <br>
</div>

<div class="">
    <%=link_to "Create new event", '/events/new'%>
</div>

<br>


<h2 class="font-bold"><%=@user.name%>'s Planners</h2>

<div> 
    <%=link_to "Create new planner", '/planner/new'%>
</div>
