<h1>Sign Up</h1>

<%= render partial: "layouts/errors", locals: {variable: @user} %>
<%= render partial: "form", locals: { user: @user } %>


Or:
<p> <%= link_to 'Sign in with Facebook', '/auth/facebook'%>.</p>
<p> <%= link_to 'Sign in with GitHub', '/auth/github'%>.</p>
Or
<p><%=link_to 'Log in', '/login'%></p>

  