<%= render partial: "layouts/errors", locals: {variable: @user} %>
<div>
    <h1 class=" underline font-bold">Name: </h1> 
        <p><%=@user.name%></p>
        <br>
    <h1 class="underline font-bold">Email: </h1>
        <p><%=@user.email%></p>
    <br>
<%if @user == current_user%>
    <div class=" text-center font-bold text-lg text-blue-600 hover:text-blue-900">
        <%=link_to "Edit Account Info", edit_user_path(@user)%>
    </div>
<%end%>
<br>
<div class=" text-center font-bold text-lg text-blue-600 hover:text-blue-900">
    <%=link_to "Go to your Homepage", root_path%>
</div>