<form>
  <%= form_with model: @event do |f| %>
  <%=f.label :name %>
  <%=f.text_field :name %>


  <%# make this a drop down! %>
  <%=f.label :category %>
  <%=f.text_field :category %>

  <%=f.label :description %>
  <%=f.text_field :description %>

  <%=f.label :already_visited %>
  <%=f.check_box :already_visited %>

  <%# if check box is checked, optional date, rating, comment. %>

    Addresses:
    <ul>
      <%= f.fields_for :addresses do |addresses_form| %>
        <li>
          <%= addresses_form.label :name %>
          <%= addresses_form.text_field :name %>
  
          <%= addresses_form.label :street %>
          <%= addresses_form.text_field :street %>
          
          <%= addresses_form.label :state %>
          <%= addresses_form.text_field :state %>
  
          <%= addresses_form.label :city %>
          <%= addresses_form.text_field :city %>

          <%= addresses_form.label :country %>
          <%= addresses_form.text_field :country %>
  
        </li>
      <% end %>
    </ul>
    <div class="submit-button">
      <%=f.submit%>
    </div>
  <% end %>
</form>
  <%# join users/ratings of people who have been %>

  <%# will have a join table with the user who created it and those who also go, can rate  %>
  <%# join table for users who star it  %>
  <%# join table for categories?  %>
  <%# joiin tavle with location ^^<< can be searched by these things, %>
  <%# join with each of the lists it can be added to %>