
<%= form_for event do |f| %>

  <div class="form-label">
    <%=f.label :name %>
  </div>
  <div class="form-field">
    <%=f.text_field :name %>
  </div>
  <br>
  <div class="form-label">
    <%=f.label :category %>
  </div>
  <div class="form-field">
    <%=f.text_field :category %>
  </div>
  <br>
  <div class="form-label">
    <%=f.label :comment %>
  </div>
  <div class="form-field">
    <%=f.text_area :comment %>
  </div>
    <div class="form-label">
        <%=f.label :street %>
    </div>
    <div class="form-field">
        <%=f.text_field :street %>
    </div>
    <br>
    <div class="form-label">
        <%=f.label :city %>
    </div>
    <div class="form-field">
        <%=f.text_field :city %>
    </div>
    <div class="form-label">
        <%=f.label :state %>
    </div>
    <div class="form-field">
        <%=f.text_field :state %>
    </div>
    <br>
      <div class="form-label">
        <%=f.label :country %>
    </div>
    <div class=" form-field">
        <%=f.text_field :country %>
    </div>
    <br>
    <div class="text-center focus:shadow-outline font-bold text-lg text-blue-800 hover:text-blue-900">
      <%=f.submit%>
    </div>
  <% end %>
</div>
