<%if flash[:message].present?%>
    <%=flash[:message]%>
<%end%>
  <%= form_for event do |f| %>
      <% if event.errors.any? %>
      <div id="error_explanation">
    <h2>
      <%= pluralize(event.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>

 <%#=f.hidden_field :user_ids%>
  <div class="form-label">
    <%=f.label :name %>
  </div>
  <div class="form-field">
    <%=f.text_field :name %>
  </div>
  <br>
    <div class="form-label">
    <%=f.label :start_date_time %>
  </div>
  <div class="form-field">
    <%=f.datetime_select :start_date_time %>
   </div> 
       <div class="form-label">
    <%=f.label :end_date_time %>
  </div>
  <div class="form-field">
    <%=f.datetime_select :end_date_time %>
   </div> 
  
  <%# Unpermitted parameters: :datetime(1i), :datetime(2i), :datetime(3i), :datetime(4i), :datetime(5i) %>
  <br>
    <%# make this a drop down! %>
  <div class="form-label">
    <%=f.label :category %>
  </div>
  <div class="form-field">
   <%#= f.collection_select :provider_id, Provider.order(:name),:id,:name, include_blank: true %>
    <%=f.text_field :category %>
  </div>
  <br>
  <div class="form-label">
    <%=f.label :description %>
  </div>
  <div class="form-field">
    <%=f.text_area :description %>
  </div>
    <div class="form-label">
        <%=f.label :street %>
    </div>
    <div class="form-field">
        <%=f.text_field :street %>
    </div>
    <br>
    <div class="form-label">
        <%=f.label :city %>
    </div>
    <div class="form-field">
        <%=f.text_field :city %>
    </div>
    <div class="form-label">
        <%=f.label :state %>
    </div>
    <div class="form-field">
        <%=f.text_field :state %>
    </div>
    <br>
      <div class="form-label">
        <%=f.label :country %>
    </div>
    <div class="form-field">
        <%=f.text_field :country %>
    </div>
  
    <br>
  <div class="submit-button">
    <%=f.submit%>
  </div>
  <% end %>
