
  <%= form_for event do |f| %>
      <% if event.errors.any? %>
      <div id="error_explanation">
    <h2>
      <%= pluralize(event.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>

  <div class="form-label">
    <%=f.label :name %>
  </div>
  <div class="form-field">
    <%=f.text_field :name %>
  </div>
  <br>
    <%# make this a drop down! %>
  <div class="form-label">
    <%=f.label :category %>
  </div>
  <div class="form-field">
    <%=f.text_field :category %>
  </div>
  <br>
  <div class="form-label">
    <%=f.label :description %>
  </div>
  <div class="form-field">
    <%=f.text_field :description %>
  </div>
  <br>
  <%= f.fields_for(:address) do |af| %>
    <div class="form-label">
        <%=af.label :street %>
    </div>
    <div class="form-field">
        <%=af.text_field :street %>
    </div>
    <br>

    <div class="form-label">
        <%=af.label :city %>
    </div>
    <div class="form-field">
        <%=af.text_field :city %>
    </div>
    <br>
    <div class="form-label">
        <%=af.label :state %>
    </div>
    <div class="form-field">
        <%=af.text_field :country %>
    </div>
    <br>
    <div class="form-field">
        <%=af.text_field :country %>
    </div>
    <%end%>

    <div class="submit-button">
      <%=f.submit%>
    </div>
  <% end %>

  <%# join users/ratings of people who have been %>

  <%# will have a join table with the user who created it and those who also go, can rate  %>
  <%# join table for users who star it  %>
  <%# join table for categories?  %>
  <%# joiin tavle with location ^^<< can be searched by these things, %>
  <%# join with each of the lists it can be added to %>