

<%if @events.present?%>
  <div>
  <h1> The following events are listed for:</h1> 
    <h1 class= "font-bold "> 
      <%=params[:query]%> 
    </h1>
  <br>
    <ul>
      <% @events.each do |event| %>
        <div class=" text-center font-bold text-lg text-blue-800 hover:text-blue-900">
          <li><%=link_to event.name, event_path(event) %></li>
        </div>
      <% end %>
    </ul>
  </div>
<%end%>
<br>
<br>
<%if params[:query].present? && @events.none?%>
  <div class=" text-center font-bold text-lg text-blue-800 hover:text-blue-900">
    <%=link_to "Add your own event!", new_event_path%>
  </div>
<%end%>

<br>
<% if @userevents.present?%>
  <div>
  Your Events: <br>
  <ul>
    <% @userevents.each do |event| %>
      <div class=" text-center font-bold text-lg text-blue-800 hover:text-blue-900">
        <li><%=link_to event.name, event_path(event) %></li>
        
      </div>
    <% end %>
    </ul>
  </div>
<%end%>
<br>
<br>
<%if @events_added.present?%>
<div>
  Events You added: <br>
  <ul>
  <% @events_added.each do |event| %>
    <div class="text-center font-bold text-lg text-blue-800 hover:text-blue-900">
      <li><%=link_to event.name, event_path(event) %></li>
    </div>
  <% end %>
  </ul>
</div>
<%end%>

<%# get a map in here that displays all? %>