<div class="text-red">
  <%if flash[:message].present?%>
      <%=flash[:message]%>
  <%end%>
</div>

<div>
  <h1 class="underline font-bold">Event Name </h1>
    <p><%=@event.name%> </p><br>
  <h1 class="underline font-bold">Event Category </h1>
  <p><%=@event.category%></p> <br>
  <h1 class="underline font-bold">Event Description </h1>
    <p> <%=@event.comment%></p><br>
  <h1 class="underline font-bold">Event Address </h1> 
    <p><%=@event.full_address%></p><br>
  <h1 class="underline font-bold">Your Comment</h1>
    <p><%=@event.comment%></p><br>
</div>
<br>
<div>
  <%if @event.feedbacks.any?%>  
    <p class="underline text-bold"> Average rating: <%= @event.average_rating%> </p>
  <%else%>
    <p> There are no ratings for this event yet. </p>
  <%end%>
</div>
<br>
<br>

<div>
<%=@event.feedbacks.count%> Ratings:
  <% @event.feedbacks.each do |feedback| %>
  <ul>
    <li>
    <div class="flex justify-center">
      <div class="  w-full max-w-xs">
          <div class="md:flex md:items-center bg-white shadow-md rounded py-10 px-8 pt-6 pb-8 mb-10">
              <div class=" px-10 mb-4">

      <span class=" text-center font-bold text-sm text-black-800 hover:text-blue-900">
        <%= link_to feedback.user.name, user_path(feedback.user) %> 
      </span> 
    said
    <div class="text-gray-800">
    "<%= feedback.content %>"
    <%#if feedback.rating.any?%>
    <br>
      <span class="font-bold text-lg">
        <%=feedback.rating%> 
      </span>
      out of 10. </li>
    <%#end%>
    </div>
    </div>
    </div>
    </div>
    
    <%if feedback.user == current_user %>
    <div class=" text-center font-bold text-lg text-blue-600 hover:text-blue-900">
      <%=link_to "edit this rating", edit_event_feedback_path(@event, feedback)%>
    </div>
    <div class=" text-center font-bold text-lg text-blue-800 hover:text-blue-900">
      <%=form_tag event_feedback_path(@event, feedback), method: "delete" do%>
        <%=submit_tag "delete your rating"%>
      <%end%>
      </div>
    <%end%>
  <% end %>
  </ul>
</div>
<br>
<div class="flex justify-center">
<div  class=" w-2/5 bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 md-10 rounded focus:outline-none focus:shadow-outline">
  <%=link_to "Add A Comment and Rate this Event", new_event_feedback_path(@event)%>

</div>
</div>
<br>
  <%if @event.belongs_to_user(current_user)%>
    <div class="flex justify-center">
      <div  class=" w-2/5 bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 md-10 rounded focus:outline-none focus:shadow-outline">
        <%=link_to "Edit this Event", edit_event_path(@event) %>
      </div>
    <br>
    </div>
    <br>
    <div class="form">
      <%= form_tag event_path(@event.id), method: "delete" do %>
      <div class="flex justify-center">
        <div  class=" w-2/5 bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 md-10 rounded focus:outline-none focus:shadow-outline">
          <%= submit_tag "Delete #{@event.name}", class:"bg-blue-500 hover:bg-blue-700 font-bold" %>
        </div>
      </div>
      <% end %>
    </div>
  <%end%>
</div>
<br>
<%# want this part shown only if event is not already in the user's events, and if user is not event.user (one who made it) %>
<%# id either of these is false... want to NOT show the form.   if one of them is true, do not show form %>
<%if current_user.event_already_added?(@event) || !@event.belongs_to_user(current_user)%>
  <div class="form">
    <%= form_tag user_event_path(@event.id), method: "post" do %>
    <br>
    <div class="text-center">
      <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
        <%=label_tag "Add a Comment to add to your events" %>
        <br>
      </div>
    </div>
      <div class="flex justify-center">
        <%=text_field_tag :comment %>  <br>
      </div>
      <br>
      <div class="flex justify-center">
        <div class=" text-center font-bold text-lg text-blue-800 hover:text-blue-900">
          <%= submit_tag "Add #{@event.name} to your events", class:"bg-blue-500 hover:bg-blue-700 font-bold" %>
        </div>
      </div>
    <% end %>
    <br>
  </div>
<%end%>

<div class="flex justify-center">
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@event.latitude},#{@event.longitude}&markers=#{@event.latitude},#{@event.longitude}&zoom=15&size=640x400&key=#{ENV['MY_KEY']}", #!!!!add key here
              class: 'img-fluid img-rounded', alt: "#{@event.name} on the map"%>
</div>
