
  <%= form_for @event do |f| %>
    <div class="form-label">
        <%=f.label :name %>
    </div>
    <div class="form-field">
        <%=f.text_field :name %>
    </div>
    <br>
    <div class="form-label">
        <%=f.label :category %>
    </div>
    <div class="form-field">
        <%=f.text_field :category %>
    </div>
    <br>
    <div class="form-label">
        <%=f.label :description %>
    </div>
    <div class="form-field">
        <%=f.text_area :description %>
    </div>
    <br>

  <%= f.fields_for(:address) do |af| %>
    <div class="form-label">
        <%=af.label :street %>
    </div>
    <div class="form-field">
        <%=af.text_field :street %>
    </div>
    <br>

    <div class="form-label">
        <%=af.label :city %>
    </div>
    <div class="form-field">
        <%=af.text_field :city %>
    </div>
    <br>
    <div class="form-label">
        <%=af.label :state %>
    </div>
    <div class="form-field">
        <%=af.label :country %>
    </div>
    <br>
    <div class="form-field">
        <%=af.text_field :country %>
    </div>
        <div class="submit-button">
        <%=af.submit%>
        </div>
     <% end %>
  <% end %>