
<br>
    <%=form_for [feedback.event, feedback] do |f|%>

        <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <%=f.label :content %>
        </div>
        <div class="focus:shadow-outline">
            <%=f.text_area :content %>
        </div>
        <br>
        <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <%=f.label "Please rate from 1-10 with 10 being the best" %>
        </div>


        <div class="focus:shadow-outline">
            <%=f.number_field :rating %>
        </div>
        <br>

    <br>
    <div class=" text-center font-bold text-lg text-blue-800 hover:text-blue-900">
        <%=f.submit "Add Comment", class:"bg-blue-500 text-white  hover:bg-blue-700 font-bold"%>
    </div>
    <% end %>
