<!DOCTYPE html>
<html lang="en">
<html class="h-screen bg-no-repeat bg-cover" style="background: linear-gradient(white 0%, #764ba2 100%">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Plantrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body class="py-2">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4" href="/">
      <%=link_to "Home", root_path%>
    </button>
    <%if logged_in?%>
     <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4" >
        <%= link_to "Log Out", logout_path, method: :delete %>
      </button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4" >
        <%#= link_to "Account Info", user_path(current_user) %>
      </button>
    <%else%>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4" >
          <%=link_to 'Log in', '/login'%>
        </button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4" >
          <%=link_to 'Sign Up', '/signup'%>
        </button>
    <%end%>

    
    <div class="text-center">
      <%= yield %>
    </div>
  </body>
</html>
